<ion-toolbar>
  <ion-title>Home</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-icon color='primary' name="search-outline" style="zoom:1.5; margin-right: 10px;"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
<div id="main-cont">
<div id="mid-cont">



<ion-grid>
<ion-row>
  <ion-col size-lg="6" size-md="4" size-sm="6" size="6" >
    <ion-card routerLink="/profile">
      <ion-icon  color="primary" name="person" style="zoom:4.0;"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>Store Profile</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>
  <ion-col size-lg="6" size-md="4" size-sm="6" size="6" >
    <ion-card routerLink="/gallery">
      <ion-icon color="primary" name="images" style="zoom:4.0;"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>Store Gallery</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>
</ion-row>
<br>
<ion-row>
  <ion-col size-lg="6" size-md="4" size-sm="6" size="6" >
    <ion-card routerLink="/bookings">
      <ion-icon  color="primary" name="checkbox" style="zoom:4.0;"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>Bookings</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>
  <ion-col size-lg="6" size-md="4" size-sm="6" size="6" >
    <ion-card routerLink="/calender">
      <ion-icon color="primary" name="calendar" style="zoom:4.0;"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>Calendar</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>

</div>
</div>
</ion-content>


