<ion-toolbar>
  <ion-title>Home</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button  autoHide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-icon  name="person" style="zoom:1.5; margin-right: 10px;"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content id="container">
<div id="main-cont">
  <ion-grid>
    <ion-row>
<ion-card>
  <img src = "/src/assets/images/fried-squid-calamari-rings.jpg">
  <ion-card-title>Store Profile</ion-card-title>
  <ion-card-subtitle>Add and Edit Your Store Details</ion-card-subtitle>
</ion-card>
</ion-row>
<ion-row>
<ion-card >
  <ion-card-title>Store Gallery</ion-card-title>
  <ion-card-subtitle>Add Store Dishes </ion-card-subtitle>
</ion-card>
</ion-row>
<ion-row>
<ion-card>
  <ion-card-title>Store Bookings</ion-card-title>
  <ion-card-subtitle>View Store Bookings From Customers</ion-card-subtitle>
</ion-card>
</ion-row>
<ion-row>
<ion-card>
  <ion-card-title>Store Calender</ion-card-title>
  <ion-card-subtitle>Manage The Stores Dates and Bookings </ion-card-subtitle>
</ion-card>
</ion-row>
  </ion-grid>
</div>
</ion-content>


