#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', serif;
   
    
    }
ion-grid{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        justify-content: center;

    }

    ion-title{
        text-align: center;
        font-family: 'Nunito', serif;
    }
    

//     ion-row{
//         height: 200px;
//         width: 100% !important;
//         justify-content: center;
//   }
//    ion-card{
//        display: flex;
//        flex-direction: column;
//        justify-self: center;
//        position: relative;
//        width: 90%;
//        height: 160px;
//        text-align: center;
//        background-image: url('/src/assets/images/fried-squid-calamari-rings.jpg');
//    }
