<ion-toolbar>
  <ion-title>Gallery</ion-title>
  <ion-buttons slot="start">
    <ion-icon routerLink="/main" name="arrow-back-outline" color="primary" autoHide="false" style="zoom:1.4; margin-left: 10px;"></ion-icon>
  </ion-buttons>
 
</ion-toolbar>


<ion-content>
  <form [formGroup]="galleryForm" (ngSubmit)="addGallery()">
  <ion-item>
    <ion-label>Dish Price</ion-label>
    <ion-input  type="text" formControlName="dishPrice"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Dish Description</ion-label>
    <ion-input  type="tex" formControlName="dishDes"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Dish Name</ion-label>
    <ion-input  type="text" formControlName="dishName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input  type="file" formControlName="dishimg" accept="image/*" (change)="addPic($event)"></ion-input>
  </ion-item>

</form>
<ion-button type="submit" (click)="addGallery()">Save</ion-button>

<div id="view-gall">

  <div *ngFor="let item of resID " >
    <ion-card >
      <img src= {{item.dishimg}}  />
      <ion-card-header>
        <ion-card-subtitle>{{item.dishName}} </ion-card-subtitle>
        <ion-card-title>{{item.dishPrice}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{item.dishDes}} <br> 
      </ion-card-content>
    </ion-card>
  
  </div>
  
</div>

</ion-content>
