<ion-toolbar>
  <ion-title>Store Gallery</ion-title>
  <ion-buttons slot="start">
    <ion-icon routerLink="/main" name="arrow-back-outline" color="primary" autoHide="false" style="zoom:1.5; margin-left: 10px;"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div id="container">
    <div id="mid-cont">
      <h5>Add Store Dishes</h5>
  <form [formGroup]="galleryForm" (ngSubmit)="addGallery()">
    <ion-grid>
      <ion-row>
  <ion-item>
      <ion-label position="floating">Dish Name</ion-label>
      <ion-input  type="text" formControlName="dishName"></ion-input>
    </ion-item>
  </ion-row>
    <ion-row>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input  type="text" formControlName="dishDes"></ion-input>
    </ion-item>
</ion-row>
    <ion-row>
    <ion-item>
      <ion-label position="floating" >Dish Price</ion-label>
      <ion-input  type="number" formControlName="dishPrice"></ion-input>
    </ion-item>
</ion-row>
<br>
    <ion-item>
      <ion-input  type="file" formControlName="dishimg" accept="image/*" (change)="addPic($event)"></ion-input>
    </ion-item>
  
  </ion-grid>
</form>
<br>
<ion-button type="submit" (click)='addGallery()'>Add</ion-button>

<br>
<br>

<ion-grid  >
  <ion-row >
    <ion-col col-4 *ngFor="let dish of dishlist ">
  <img src="{{dish.dishimg}}">
  <ion-header>
    <ion-card-subtitle>{{dish.dishName}}</ion-card-subtitle>
    <ion-card-subtitle>{{dish.dishPrice}}</ion-card-subtitle>
  </ion-header>
</ion-col>
</ion-row>
</ion-grid>
  
</div>
</div>

</ion-content>


