<div id="logo-con">
 
  <img alt="" height="40"   src="../../assets/logo/logo.png" > 
  
</div>


<ion-content id="container">
  <ion-slides pager="true" [options]="slideOpts" id="slide-content">
    <ion-slide id="slide1">
      <ion-item>
        <ion-img src="../assets/images/create.jpg"></ion-img>
      </ion-item>
      <br>
      <h4>Create a resturant profile</h4>
    </ion-slide>
    <ion-slide id="slide2">
      <ion-item>
        <ion-img src="../assets/images/content.jpg"></ion-img>
      </ion-item>
      <br>
      <h4>Manage all content customers can see from your resturant</h4>
    </ion-slide>
    <ion-slide id="slide3">
      <ion-item>
        <ion-img src="../assets/images/content.jpg"></ion-img>
      </ion-item>
      <br>
      <h4>View all open days, fully booked days and cancellation on the calender</h4>
    </ion-slide>
    <ion-slide id="slide4">
      <ion-item>
        <ion-img src="../assets/images/dishes.jpg"></ion-img>
      </ion-item>
      <br>
      <h4>Create a gallery of all your resturants amazing dishes</h4>
    </ion-slide>
    <ion-slide id="slide5">
      <ion-item>
        <ion-img src="../assets/images/time.jpg"></ion-img>
      </ion-item>
      <br>
      <h4>Enable 24/7 table booking services!</h4>
    <br>
    <br>
    <br>
      <ion-button routerLink="/create-str">Get Started</ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>


