<ion-content>
<div id="container">
  <div id="header">
 
  <ion-buttons slot="start">
    <ion-icon routerLink="/main" name="arrow-back-outline" autoHide="false" style="zoom:1.5; margin-left: 10px;"></ion-icon>
  </ion-buttons>
  <h3>View Store</h3>
  <ion-buttons slot="end">
    <ion-icon  name="search-outline" style="zoom:1.5; margin-right: 10px;"></ion-icon>
  </ion-buttons>
</div>

<ion-list>
<ion-item>
 
</ion-item>
<ion-item>
  
</ion-item>
<ion-item>
  Resturant Address
</ion-item>
<ion-item>
  Registration Number 
</ion-item>
<ion-item>
  Tel-Number
</ion-item>
<ion-item>
  email
</ion-item>
<ion-item>
  Rating
</ion-item>
</ion-list>
 


  <div id="bottom-content">
  <ion-button routerLink="/edit-profile">Edit Profile</ion-button>
</div>
</div>
   
</ion-content>
