<ion-toolbar>
  <ion-title>Profile</ion-title>
  <ion-buttons slot="start">
    <ion-icon routerLink="/main" name="arrow-back-outline" color="primary" autoHide="false" style="zoom:1.5; margin-right: 10px;"></ion-icon>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-icon color='primary' name="search-outline" style="zoom:1.5; margin-right: 10px;"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-list>
<ion-item>
 
</ion-item>
<ion-item>
  
</ion-item>
<ion-item>
  Resturant Address
</ion-item>
<ion-item>
  Registration Number 
</ion-item>
<ion-item>
  Tel-Number
</ion-item>
<ion-item>
  email
</ion-item>
<ion-item>
  Rating
</ion-item>
</ion-list>
 


  <div id="bottom-content">
  <ion-button routerLink="/edit-profile">Edit Profile</ion-button>
</div>

   
 
   
  
