<ion-toolbar>
  <ion-title>Profile</ion-title>
  <ion-buttons slot="start">
    <ion-icon routerLink="/main" name="arrow-back-outline" color="primary" autoHide="false" style="zoom:1.5; margin-left: 10px;"></ion-icon>
  </ion-buttons>
 
</ion-toolbar>

<div >
  <ion-list>
    <ion-item>
    {{resID?.img}}
    </ion-item>
<ion-item>
{{resID?.resName}}
</ion-item>
<ion-item>
  {{resID?.resAdd}}
</ion-item>
<ion-item>
  {{resID?.resDes}}
</ion-item>
<ion-item>
  {{resID?.resReg}}
</ion-item>
<ion-item>
  {{resID?.resTel}}
</ion-item>
<ion-item>
  {{resID?.resRate}}
</ion-item>
</ion-list>
</div>


  <div id="bottom-content">
    
  <ion-button expand="block" routerLink="/edit-profile">Edit Profile</ion-button>
</div>

   
 
   
  
