#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#main{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;

}

ion-title{
    text-align: center;
    font-family: 'Nunito', serif;
}
#bottom-content{
    display: flex;
    flex-direction: row;
  align-self: flex-end;
    
}
