#container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    height: 20%;
    width: 100%;
    background-color: #FFBC00;
    border-bottom-right-radius: 40px;

    font-family: 'Nunito', serif;
}
#bottom-content{
    display: flex;
    flex-direction: row;
  align-self: flex-end;
    
}